__pycache__/
*.py[cod]

.venv/
backend/.venv/

*.db
*.sqlite
*.sqlite3

backend/uploads/*
!backend/uploads/.gitkeep

.env
.env.*
!.env.example

node_modules/

dist/
build/
.vite/

.vscode/
.idea/

Thumbs.db
Desktop.ini
.DS_Store

*.log
*.tmp
*.temp
*.bak
*.swp
*~

*.zip

/comandos.txt